/* DARK MODE STYLES */

/* dark mode toggle button */
.darkmode-toggle {
    color: #f5593d;
}
.dark .darkmode-toggle {
    color: #d3d3d3;
}

/* dark mode home */
.dark body,
.dark .home-page,
.dark .courses-page,
.dark .departments-page,
.dark .instructors-page,
.dark .profile-page {
    background-color: #363535;
    color: #f3f3f3;
}

.dark table {
    color: #f3f3f3;
}

.dark thead tbody {
    background-color: #f3f3f3;
}

table a {
    color: black;
}

.dark table a {
    color: #f3f3f3;
}

.dark button {
    background-color: #dc3545;
    border-color: #dc3545;
}

.dark .navbar {
    background-color: #202020;
}

.dark .navbar .navbar-nav .nav-item .nav-link,
.navbar .navbar-brand,
.dark h1 {
    color: #f3f3f3;
}

.dark nav.secondary-nav.navbar.navbar-expand-lg.bg-info,
.dark .container-md,
.black .profile-page {
    background-color: #202020 !important;
}

.dark .container-md {
    padding: 50px;
}

.dark input.form-control-md.form-control {
    background-color: #d6d6d6;
    color: black;
}

.dark button.dropdown-item {
    background-color: #f1f1f1;
}
