/* DARK MODE STYLES */

body * {
    font-weight: 450;
}

#root > div > div > div {
    background-color: #2f515405;
}

.dark {
    background-color: #363535;
}

/* dark mode toggle button */
.darkmode-toggle {
    color: #f5593d;
}
.dark .darkmode-toggle {
    color: #d3d3d3;
}

/*=====PLACEHOLDER==TEXT==EVERYWHERE=========*/
.dark #SearchBar > div > button > input::placeholder {
    color: #d3d3d3;
}

/* dark mode home */
.dark body,
.dark .home-page,
.dark .courses-page,
.dark .course-page,
.dark .departments-page,
.dark .department-page,
.dark .instructors-page,
.dark .instructor-page,
.dark .profile-page {
    background-color: #363535;
    color: #f3f3f3;
}

.dark table {
    color: #c0c0c0;
}

.dark thead tbody {
    background-color: #f3f3f3;
}

.dark thead {
    background-color: #202020 !important;
}

table a {
    color: black;
}

.dark table a {
    color: #f3f3f3 !important;
}

.dark .navbar .navbar-nav .nav-item .nav-link,
.dark .navbar .navbar-brand,
.dark h1 {
    color: #f3f3f3;
}

/*============COURSE-PAGE=====================================================*/
.dark #root > div > div > div > div > div > div.col.col-lg-3,
.dark #root > div > div > div > div > div > div.col.col-lg-7 > div.row > div {
    background-color: #2c2c2c28 !important;
    box-shadow: 0px 0px 50px -15px #000 !important;
}
.dark #root > div > div > div > div > div > div.col.col-lg-3 {
    box-shadow: 0px 0px 40px 0px #000 !important;
    z-index: 0 !important;
}

/*============================================================================*/

/*============NAVBAR==========================================================*/

.dark #root > div > div > .navbar.navbar-transparent {
    background: transparent !important;
}

.dark #root > div > div > .navbar {
    background-color: #202020 !important;
}
/*============================================================================*/

.dark button.dropdown-item {
    background-color: #f1f1f1;
}

/*PROFILE PAGE */
.dark #root > div > div > div > div > div:nth-child(2) > div.col-sm-8 > div.nav-tabs-navigation > div > ul > li > a.active.nav-link {
    color: #f0f0f0 !important;
}
/* END */

/*=====REVIEW_FORMS=============================================================*/
.dark input {
    background-color: #333333 !important;
    color: #fff !important;
    border-color: #333333 !important;
}
.dark #follows > div > div > div > div > div.card-body {
    background-color: #f0f0f0;
}
.dark #root > div > div > div > div > div > div > nav > nav > ul > li.page-item.disabled,
.dark #root > div > div > div > nav > nav > ul > li.page-item.disabled {
    mix-blend-mode: color-burn;
}
.dark h4,
.dark h5 {
    color: #f1f1f1;
}
.dark .table td,
.dark .table th {
    border-bottom: 1px solid #6c6c6c;
    border-top: 1px solid #6c6c6c;
}
.dark #follows > div > div > div > div > div.card-body > p > h5 {
    color: #6c6c6c !important;
}

.dark #follows > div > div > div > div > div.card-header,
.dark #follows > div > div > div > div > li {
    background-color: #e3e3e3;
}

.dark #follows > div > div > div > div > div.card-header,
.dark #follows > div > div > div > div > li,
.dark #following > div > div > div > div > form > div > div > select,
.dark #student-feedback > div > div > div > div > form > div > div > select,
.dark .form-control:focus,
.dark input#title,
.dark textarea.form-control {
    background-color: #b4b4b4 !important;
}

.dark .btn-primary.active {
    background-color: #3f5a5a !important;
}
/*===========================================================================*/

/*====THIS=IS=BROWSER=AUTOFILLING=INPUT=FIELDS===============================*/
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark textarea:-webkit-autofill,
.dark textarea:-webkit-autofill:hover,
.dark textarea:-webkit-autofill:focus,
.dark select:-webkit-autofill,
.dark select:-webkit-autofill:hover,
.dark select:-webkit-autofill:focus {
    border: 1px solid #333333;
    -webkit-text-fill-color: #f1f1f1;
    -webkit-box-shadow: 0 0 0px 1000px #333333 inset;
    transition: background-color 5000s ease-in-out 0s;
}

/*===========PAGE_BREAK======================================================*/
.dark .PageBreak {
    /* box-shadow: 0px 0px 15px 0px #f1f1f1 !important; */
    background-color: #505050 !important;
}
/*===========================================================================*/
/*==================MOBILE===================================================*/
@media only screen and (max-width: 1150px) {
    #root > div > div > div.container-fluid > div > #lists {
        flex-flow: column;
        flex-wrap: nowrap;
        gap: 100px;
        padding: 0px 0px 50px 0px;
        text-align: center;
    }
}

@media only screen and (min-width: 1150px) and (max-width: 1560px) {
    #root > div > div > div.container-fluid > div > #lists {
        flex-flow: column;
        flex-wrap: nowrap;
        gap: 100px;
        padding: 0px 200px 50px 200px;
        text-align: center;
    }

    #SearchBar {
        content-visibility: hidden !important;
        width: 0% !important;
    }
}
/*===========================================================================*/
