@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");

html {
    position: relative;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #ecf0f1;
    padding-bottom: 500px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

input:focus {
    outline: none;
}

/*******************SETH's CSS***********************/

/* .loginContainer {
    align-items: center;
    justify-content: center;
}

.content-line {
    border-bottom: 2px #888686;
    display: inline;
}

.post-editor {
    margin: 0 25%;
}

.panel-default {
    border-color: #ddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1024px) {
    .post-editor {
        margin: 1em;
    }
}
.post-editor-button {
    float: right;
    margin-top: 1em;
    background-color: red;
}

.panel-body {
    margin: 1em 15%;
}

.post-body {
    margin: 1em 20%;
} */
